<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

    <!--NavBar-->
    <section th:fragment="nav">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

<!--Table ShowLists-->
    <section>
        <div class="container">

            <a th:href="@{/form_add}" class="btn btn-primary mt-3 mb-3" th:text="#{create_artical}">Create Article</a>
            <a th:href="@{/(lang='km')}" style="padding-left: 40px ; text-decoration: none" th:text="#{khmer}"> Khmer </a>
            <a th:href="@{/(lang=)}" style="padding-left: 40px ; text-decoration: none" th:text="#{english}"> English </a>
            <a th:href="@{/(lang='ko')}" style="padding-left: 40px ; text-decoration: none" th:text="#{Korea}"> Korea </a>
            <table class="table">
                <thead>
                    <tr>
                    <th th:text="#{id}">Id</th>
                    <th th:text="#{title}">Title</th>
                    <th th:text="#{description}">Description</th>
                    <th th:text="#{profile}">Profile</th>
                    <th th:text="#{action}" style="text-align: center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="article: ${Management}">
                        <td th:text="${article.id}">Id</td>
                        <td th:text="${article.title}">Title</td>
                        <td th:text="${article.description}">Description</td>
                        <td>
                            <div>
                                <img th:src="${article.getProfile()}" width="100px" height="100px">
                            </div>
                        </td>
                        <td>
                            <div style="text-align: center">
                                <a th:href="@{/view_page/{id}(id=${article.getId()})}" class="btn btn-outline-success" type="submit" th:text="#{view}">View</a>
                                <a th:href="@{/article-update/{id}(id=${article.id})}" class="btn btn-outline-warning" type="submit" th:text="#{edit}">Edit</a>
                                <a th:href="@{/delete/{id}(id=${article.getId()})}" class="btn btn-outline-danger" type="submit" th:text="#{delete}">Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>