<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
    <div th:replace="~{index :: nav}"></div>

    <!--Form add-->
    <div class="container">
        <form th:action="@{/handle-update/{id}(id=${article.id})}" th:object="${article}" method="post" enctype="multipart/form-data">
            <div class="container">
                <a th:href="@{/}" style="margin-top: 20px;" th:text="#{back}">Back</a><br>
                <h1 style="margin-top: 20px;" th:text="#{update_article}">Update Article</h1>
                <img id="output" width="200px" height="200px" style="margin-top: 20px;" th:src="${article.profile}"/>
                <div class="mt-3 mb-3">
                    <input class="form-control" type="file" onchange="loadFile(event)" id="articlePic" th:field="${article.file}" multiple="multiple">
                </div>
                <span th:text="#{title}">Title</span>
                <input type="text" th:value="${article.title}" aria-label="Article" th:field="${article.title}"
                       class="form-control mb-3">
                <p th:errors="${article.title}" style="color:red"></p>
                <span th:text="#{description}" >Description</span>
                <div class="mb-3">
            <textarea class="form-control" th:value="${article.title}" placeholder="Description" id="articleDec"
                      th:field="${article.description}"></textarea>
                </div>
                <p th:errors="${article.description}" style="color:red"></p>
                <button type="submit" class="btn btn-primary" style="width: 100px" th:text="#{edit}">Edit</button>
            </div>
        </form>

    </div>
    <script>
        var loadFile = function(event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>